* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.color-white {
    color: white;
}

.btn {
    border: none;
    border-radius: 5%;
    padding: 12px 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 8px;
}

/* Solid green button */
.btn {
    background-color: #469165;
    color: white;
}



nav {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 120px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}

nav .menu a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#banner {
    background: url("./assets/hero-bg.png") center/cover no-repeat;
}

.banner-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px 0 180px;
    text-align: center;
}


.banner-head {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.banner-head ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.banner-head li {
    display: inline-block;
    padding: 6px 14px;
    background: #ffffff;        
    color: #4CAF7A;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.655);
}

.frame h1 {
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    padding-bottom: 16px;
}

.frame .line1 {
    color: white;
    display: block;
}

.frame .line2 {
    color: #4CAF7A;
    display: block;
}


.banner-container p {
    max-width: 720px;
    margin: 0 auto 40px;
    color: #d1d5db;
    font-size: 18px;
    line-height: 1.6;
}

.frame button{
    display: flex;
}

.btn-secondary{
    padding: 12px 16px 12px 16px;
    background: transparent;
    color: white;
    cursor: pointer;
}

#apps {
  padding: 80px 20px;
  background-color: #f9f9f9;
  color: #ffffff;
}

.apps-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-heading h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #001931;
}

.section-heading p {
  font-size: 18px;
  color: #d1d5db;
  max-width: 700px;
  margin: 0 auto 50px;
  line-height: 1.6;
}

.apps-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.apps-card {
  background-color: #FFFFFF;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  /* transition: transform 0.2s ease; */
  display: flex;               
  flex-direction: column;      
  align-items: center;         
  justify-content: center;    
}


.apps-card:hover {
  /* transform: translateY(-5px); */
}

.apps-card .logo {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background-color: #F95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps-card .logo img {
  width: 50%;
  height: auto;
}

.apps-card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #001931;
}

.apps-card p {
  font-size: 16px;
  color: #627382;
  line-height: 1.5;
}

#solution{
    background-color: #FFFFFF;
    display: flex;
}

.solution-container{
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 120px 120px 120px 120px;
}
.solution-container img{
    width: 600px;
}
.solution-content{
    padding-top: 120px;
    padding-bottom:  120px;
    align-items: left;
}

.solution-content .head{
    font-size: medium;
    font-weight: 16px;
    color: #469165;
    
}

.solution-content h1{
    font-size: 48;
    font-weight: bold;
    color: #001931;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: auto;
}

.solution-content p{
    font-weight: 16px;
    line-height: 20px;
    padding-bottom: 40px;
}

.solution-content .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.solution-content .list li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  color: #333333;
}

.solution-content .list li span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.solution-content .list li span img {
  width: 20px;     
  display: block;
}









